<div class="carousel-container">
  <button type="button" aria-label="Previous image in slideshow" class="carousel-btn prev" (click)="arrowClick('prev')">
    <i class="icon-chevron-left"></i>
  </button>
  <button type="button" aria-label="Next image in slideshow" class="carousel-btn next" (click)="arrowClick('next')">
    <i class="icon-chevron-right"></i>
  </button>
  <div class="indicators">
    <div *ngFor="let img of images; index as i" (click)="indicatorClick(i)" class="index"></div>
  </div>
  <div class="carousel" (transitionend)="transitionEnd()">
    <img *ngFor="let img of images" class="slide" src="../../../assets/images/home/{{ img.name }}-16x9.jpg" alt="{{ img.desc }}. Taken by photographer Jared G Kraemer."/>
  </div>
</div>
