<div class="white-bg container-fluid">
  <div class="row">
    <h2 class="heading">{{"Jared G. Kraemer Photography" | uppercase}}</h2>
  </div>
  <div class="pic-bio row">
    <div class="col-md">
      <img class="d-block img-fluid portrait" src="../../../assets/images/author.jpg">
    </div>
    <div class="col-md bio">
      <p>Jared is a Florida-born photographer and director who specializes in natural landscapes, urban architecture, portraits
        and video production. He fell in love with his first camera at 12 years old and has been developing his skills ever
        since.
      </p>
      <p>Nine years after picking up his first camera, Jared has become the go-to for professional photos, landscapes, travel,
        and events. He is comfortable shooting in all environments from the busy streets of Paris to the top of Half Dome
        in Yosemite National Park.</p>
      <p>Jared G. Kraemer Photography is currently based out of Richmond, Virginia but Jared enjoys travelling the world to capture new
        experiences.
      </p>
    </div>
  </div>

  <div id="contact" class="info row">
    <div class="col">
      <h5 class="about">INFORMATION:</h5>
      <h6 class="about">For inquires, please e-mail us at
        <a class="contact" href="mailto:jaredgkraemer@gmail.com"> jaredgkraemer@gmail.com</a>
      </h6>
    </div>
  </div>
</div>
