<div class="header" [ngClass]="{ home: isHome }">

  <div class="logo-container">
    <a class="logo-link" aria-label="Home link" routerLink="/home">
      <img class="logo" src="../../../assets/graphics/logo.png" alt="Jared G Kraemer Photography logo"/>
    </a>
    <button (click)="menu()" type="button" aria-label="Navigation menu toggle" class="hamburger">
      <div class="patty top"></div>
      <div class="patty bottom"></div>
    </button>
  </div>

  <div class="link-container collapse">
    <a (click)="menu()" class="link-text" routerLink="/home" routerLinkActive="active">HOME</a>
    <div class="header-divider"></div>
    <a (click)="menu()" class="link-text" routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a>
    <div class="header-divider"></div>
    <a (click)="menu()" class="link-text" routerLink="/contact" routerLinkActive="active">CONTACT</a>
  </div>

</div>
