<div class="header" [ngClass]="{ home: isHome }">

  <div class="logo-container">
    <img class="logo" src="../../../assets/graphics/logo.png" />
    <div (click)="menu()" class="hamburger">
      <div class="patty top"></div>
      <div class="patty bottom"></div>
    </div>
  </div>

  <div class="link-container collapse">
    <div (click)="menu()" class="link-text" [routerLink]="['/home']" routerLinkActive="active">HOME</div>
    <div class="divider"></div>
    <div (click)="menu()" class="link-text" [routerLink]="['/portfolio']" routerLinkActive="active">PORTFOLIO</div>
    <div class="divider"></div>
    <div (click)="menu()" class="link-text" [routerLink]="['/contact']" routerLinkActive="active">CONTACT</div>
  </div>

</div>
