/* If device screen is bigger than 768px */
@media (min-width: 768px) {
  .behind-navbar {
    margin-top: -70px;
  }
}

.img-width {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
}
