<div class="container">
  <div class="row">
    <div class="col">
      <h6 class="top contact">Commercial use of my images is allowed only if expressly granted by Jared G. Kraemer.</h6>
      <h6 class="justify contact">'Commercial Use' regarding the use of images online or offline is defined very broadly. The determination of commercial or non-commercial use is based on the contextual use of the image. The determination is NOT based on the tax-filing status of the entity using the image nor on whether or not a financial transaction takes place.</h6>
      <h6 class="justify contact">All commercial uses will incur a licensing fee based on several factors including, but not limited to:</h6>

      <ul class="list contact">
        <li>Type of Media (print, web, television, social media, etc)</li>
        <li>Distribution Scale (number of copies printed, viewing audience size, exposure, etc)</li>
        <li>Length of Use (1 year, 2 years, etc)</li>
        <li>Prominence of Display (1/4 page, 1/2 page, full page, spread, front cover, etc)</li>
      </ul>
      <h6 class="justify contact">All of my photography is licensed under the <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank">Attribution Non-Commercial No Derivatives 3.0 Unported License</a></h6>

      <h4 class="contact license">For licensing & print inquires, please e-mail:</h4>
      <p class="email" (click)="emailCopied()">jaredgkraemer&nbsp;@&nbsp;gmail&nbsp;.&nbsp;com</p>
      <p class="copied" [ngClass]="{'visible': isCopied, 'hidden': !isCopied}">Copied e-mail!</p>
    </div>
  </div>
</div>
