a {
  text-decoration: none;
}

.contact {
  margin: 1em;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
}

.top {
  font-size: 22px;
  margin-bottom: 2em;
}

.justify {
  text-align: justify;
}

.list {
  text-align: left;
  margin: 1em;
  padding: 0 0 0 10px;
  list-style-type: none;
}

.fa {
  margin: 0.5em 1em 0.5em 0;
  font-size: 14px;
}

.row {
  padding: 1em;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 24px;
}

.license {
  margin: 2em;
}

.line {
  border-top: 1px solid #dddddd;
  margin-bottom: 2em;
}

.contact-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
