<footer [ngClass]="{'about-footer': isAbout, 'regular-footer': !isAbout}" class="container-fluid text-center">
  <div class="row">
    <div class="col-lg-12">
      <a href="https://www.facebook.com/jaredgkraemer" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/jaredgkraemer" target="_blank" class="fa fa-twitter"></a>
      <a href="https://www.instagram.com/jaredgkraemer" target="_blank" class="fa fa-instagram"></a>
      <a href="https://www.linkedin.com/in/jaredgkraemer/" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://www.youtube.com/user/JKraemerProductions" target="_blank" class="fa fa-youtube"></a>
    </div>
  </div>

  <p class="foot">JARED G KRAEMER PHOTOGRAPHY</p>
  <p class="foot">COPYRIGHT © {{copyrightYear}}</p>

</footer>
