@import '../../../scss/breakpoints.scss';
@import '../../../scss/swatches.scss';

.gallery-row {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  @include md {
    margin-bottom: 4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery-col {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 1rem;
  transition-duration: 0.3s;

  @include md {
    margin: 0 2rem;
  }

  &:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
  }
}

img {
  cursor: pointer;
  box-shadow: 0px 2px 6px $shadow;
  max-width: 100%;
  height: auto;
  display: block;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 2px 18px $shadow-light;
  }
}
