<div class="responsive-container portfolio">
  <div *ngFor="let row of categories; index as i" class="portfolio-row">
    <ng-container *ngFor="let category of row">
      <a [routerLink]="['/' + category]" class="portfolio-col">
        <div class="category-container">{{ category | uppercase }}</div>
        <img *ngIf="category === 'nature'" class="category" src="../../assets/images/{{ category }}/{{ thumbnails.nature }}.jpg" />
        <img *ngIf="category === 'urban'" class="category" src="../../assets/images/{{ category }}/{{ thumbnails.urban }}.jpg" />
        <img *ngIf="category === 'human'" class="category" src="../../assets/images/{{ category }}/{{ thumbnails.human }}.jpg" />
        <img *ngIf="category === 'space'" class="category" src="../../assets/images/{{ category }}/{{ thumbnails.space }}.jpg" />
        <img *ngIf="category === 'events'" class="category" src="../../assets/images/{{ category }}/{{ thumbnails.events }}.jpg" />
        <video *ngIf="category === 'motion'" class="video" autoplay loop muted playsinline>
          <source src="../../assets/images/{{ category }}/{{ thumbnails.motion }}.mp4" type="video/mp4">
        </video>
      </a>
    </ng-container>
  </div>
</div>
