/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

.container-width {
  max-width: 1200px;
}

/* If device screen is smaller than 576px */
@media (max-width: 576px) {
  .fa {
    margin: 0.4em;
    font-size: 20px;
    color: black;
  }

  .container-fluid {
    padding: 0;
  }
}

/* If device screen is greater than 576px */
@media (min-width: 576px) {
  .fa {
    margin: 1em;
    font-size: 26px;
    color: black;
  }
}

::-webkit-scrollbar {
  display: none;
}

.title {
  text-align: center;
  letter-spacing: 3px;
  margin: 2em 3em 0 3em;
}

.title-spacing {
  padding: 0.5em 0;
}

.text-container {
  background-color: white;
  box-shadow: 0px 2px 4px #a7a7a7;
  max-width: 250px;
  margin: 0 auto;
}
