/*************** BREAK POINTS ***************/
$min-width-xs: 24rem; /* small phone */
$min-width-sm: 36rem; /* big phone / small tablet */
$min-width-md: 48rem; /* tablet / small desktop */
$min-width-lg: 60rem; /* desktop */
$min-width-xl: 75rem; /* large desktop */

$max-width-xs: 24rem; /* xsmall 384px   24em */
$max-width-sm: 36rem; /* small  576px   30em */
$max-width-md: 48rem; /* medium 768px   48em */
$max-width-lg: 60rem; /* large  960px   60em */
$max-width-xl: 75rem; /* xlarge 1200px  75em */

@mixin xs {
  @media (min-width: $min-width-xs) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $min-width-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $min-width-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $min-width-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $min-width-xl) {
    @content;
  }
}

@mixin custom($screen) {
  @media (min-width: $screen+'px') {
      @content;
  }
}
