<div class="responsive-container">
  <gallery-title></gallery-title>

  <div class="vimeo">
    <iframe
      class="ratio-21x9"
      src="https://player.vimeo.com/video/188468628"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>

  <div class="vimeo">
    <iframe
      class="ratio-16x9"
      src="https://player.vimeo.com/video/312016482"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>

  <div class="vimeo">
    <iframe
      class="ratio-21x9"
      src="https://player.vimeo.com/video/220074778"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>

  <div class="vimeo">
    <iframe
      class="ratio-16x9"
      src="https://player.vimeo.com/video/190951839"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
    ></iframe>
  </div>
</div>
